body{
	background: #F5F5F5;
	font-family: Open Sans;
}
a{
	color: black;
	text-decoration: none;
	margin: 5px;
	padding: 15px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	font-family: Open Sans;
	font-weight: 700;
	font-size: 15px;
	background: #fff;
	border: none;
	border-radius: 2px;
	transition: 0.25s;
}
a:hover{
	cursor: pointer;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#home-selectors{
	margin: 30px auto;
	text-align: center;
}
#bh{
	max-width: 800px;
	width: 95%;
	margin: 0 auto;
}
#bh-pattern{
	margin: 10px auto;
	font-family: Open Sans;
	border-radius: 2px;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	padding: 15px;
	width: 100%;
	max-width: 100%;
}
#bh-pattern span{
	font-family: Open Sans;
	font-weight: 700;
	line-height: 35px;
}
#bh-input{
	width: 100%;
	max-width: 100%;
	display: block;
	margin: 10px auto;
	padding: 15px;
	border: none;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: 0.25s;
}
#bh-input:focus{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border: none;
	outline: none;
}
.form-container{
	margin: 5px auto;
	text-align: center;
}
.logout{
	position: absolute;
	top: 6px;
	right: 6px;
	color: #D32F2F;
	padding: 6px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	font-family: Open Sans;
	background: #fff;
	border: none;
	border-radius: 2px;
	transition: 0.25s;
}
.logout:hover{
	cursor: pointer;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
input{
	border: none;
	border-radius: 3px;
	padding: 6px;
	margin: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	font-family: Open Sans;
}
#bh-submit, .submit{
	padding: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	font-family: Open Sans;
	font-weight: 900;
	background: #fff;
	border: none;
	border-radius: 2px;
	transition: 0.25s;
}
.form-error{
	font-size: 15px;
	padding: 10px;
	color: red;
}
#bh-submit:hover, .submit:hover{
	cursor: pointer;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.key-len{
	font-family: Open Sans;
	font-size: 13px;
	font-weight: 700;
	padding: 5px;
}
.is-danger{
	border: 1px solid #ff4d70 !important;
}
.input:focus{
	border: 1px solid #00d1b2;
}
.checkbox-danger{
	color: #ff4d70;
	font-size: 13px;
}
.radio{
	border: none;
	box-shadow: none;
}
#mouse-window{
	position: relative;
	min-width: 800px;
	width: 60%;
	height: 530px;
	max-height: 80%;
	background: #fff;
	padding: 15px;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin: 10px auto;
	/*display: none;*/
}
.mouse-btn{
	width: 50px;
	height: 50px;
	padding: 15px;
	line-height: 1.5em;
	background: #E53935;
	border-radius: 999px;
	text-align: center;
	/*display: none;*/
	/*visibility: hidden;*/
	/*opacity: 0;*/
	font-weight: 900;
	color: white;
	position: absolute;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: .25s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.mouse-btn:hover{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	cursor: pointer;
}
#mouse-test-container{
	margin: 0 auto;
	text-align: center;
}

.charts {
	display: flex;
	flex-flow: row wrap;
}
.chart-param {
	margin: 0 25px;
	width: calc(50% - 50px);

}

.list {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}

.right-wrapper {
	width: 80%;
}

.flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.left-wrapper {
	width: 20%;
}

.flex > div  {
	max-width: 500px;
	margin-top: 40px;
}

li {
	list-style-type: none;
	cursor: pointer;
}

li.active {
	font-weight: bold;
}

ul {
	position: fixed; 
	position: fixed;
	max-height: 100vh;
	overflow: scroll;
	top: 0;
	left: 0;
	width: 20%;
}
